{include file="common:head" /}
<link rel="stylesheet" href="/static/css/login.css">
<!-- 中间主体部分 -->
<div class="content">
    <div class="content-box">
        <div class="content-center">
            <!-- 主体左边-->
            <div class="content-center_left">
                {include file="common:logo" /}
                {include file="common:menu" /}
                <!-- 登陆框 -->
                <div class="login-box">
                    <div class="login-header">Forgot Password</div>
                    <div class="login-body">
                        <form class="login-form" onsubmit="return formSubmit(this)">
                            <div class="form-item">
                                <label><span>*</span> Email&nbsp;:&nbsp;</label>
                                <input type="email" name="email" required>
                            </div>
                            <div class="form-item" style="padding-left: 90px;">
                                Please enter your email when registering, we will send the new password to your email!
                            </div>
                            <div class="form-item">
                                <button class="icon-all" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- 主体左边-->
            {include file="common:content_right" /}
        </div>
    </div>
</div>
<!-- 中间主体部分 -->
{include file="common:footer" /}
<script>
    function formSubmit(form) {
        let formData = new FormData(form);
        let params = {email: formData.get("email")};
        $.post("/index/user/forgot_pwd", params, function (res) {
            alert(res.msg);
        });
        return false;
    }
</script>
</body>

</html>
