{include file="common:head" /}
<link rel="stylesheet" href="/static/css/login.css">
<!-- 中间主体部分 -->
<div class="content">
    <div class="content-box">
        <div class="content-center">
            <!-- 主体左边-->
            <div class="content-center_left">
                {include file="common:logo" /}
                {include file="common:menu" /}
                <!-- 登陆框 -->
                <div class="login-box">
                    <div class="login-header">Login</div>
                    <div class="login-body">
                        <form class="login-form" onsubmit="return formSubmit(this)">
                            <div class="form-item">
                                <label><span>*</span> Email&nbsp;:&nbsp;</label>
                                <input type="email" name="email" required>
                            </div>
                            <div class="form-item">
                                <label><span>*</span>Password&nbsp;:&nbsp;</label>
                                <input type="password" name="password" required>
                            </div>
                            <div class="form-item">
                                <span onclick="_link(this)" data-url="/index/forgot_password" style="cursor: pointer;">forgot your password?</span>
                            </div>
                            <div class="form-item">
                                <button class="icon-all" type="submit">SIGN IN</button>
                                <a class="icon-all" href="register.html">SIGN UP</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- 主体左边-->
            {include file="common:content_right" /}
        </div>
    </div>
</div>
<iframe name="stop" style="display:none;"></iframe>
<!-- 中间主体部分 -->
{include file="common:footer" /}
<script>
    function formSubmit(form) {
        let formData = new FormData(form);
        let params = {email: formData.get("email"), password: formData.get("password")};
        $.post("/index/user/login_check", params, function (res) {
            if (parseInt(res.code) === 0) {
                alert(res.msg);
                window.location.href = "/index";
            } else {
                alert(res.msg);
            }
        });
        return false;
    }
</script>
</body>

</html>
