:root {
    --icon: url("../images/all-icon.png") 0 0 no-repeat;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    user-select: none;
}

body {
    min-height: 100vh;
    background: url("../images/bj.jpg") top no-repeat fixed #000;
    color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

a {
    color: #fff;
    text-indent: 0;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

em {
    font-style: normal;
}

img {
    border: none;
    font-size: 0;
    vertical-align: middle;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type='submit'], input[type='button'], button:active {
    box-shadow: 0 2px 5px 2px #848484;
}

.icon-all {
    background: url("../images/all-icon.png") 0 0 no-repeat;
}

.sever-icon_ps4 {
    background: var(--icon);
    background-position: -592px -558px;
    height: 33px;
    width: 39px;
    margin-bottom: 5px;
}

.sever-icon_xbox {
    background: var(--icon);
    background-position: -699px -558px;
    height: 33px;
    width: 35px;
    margin-bottom: 5px;
}

.sever-icon_switch {
    background: var(--icon);
    background-position: -647px -558px;
    height: 33px;
    width: 35px;
    margin-bottom: 5px;
}

.sever-icon_mobile {
    background: var(--icon);
    background-position: -48px -551px;
    height: 33px;
    width: 20px;
    margin-bottom: 5px;
}

.sever-icon_pc {
    background: var(--icon);
    background-position: -98px -550px;
    height: 33px;
    width: 33px;
    margin-bottom: 5px;
}

.reputation-icon {
    background: var(--icon);
    background-position: -274px -204px;
    width: 40px;
    height: 48px;
}

.payment-icon {
    background: var(--icon);
    background-position: -458px -203px;
    width: 49px;
    height: 48px;
}

.price-icon {
    background: var(--icon);
    background-position: -332px -202px;
    width: 38px;
    height: 48px;
}

.fast-icon {
    background: var(--icon);
    background-position: -389px -200px;
    width: 50px;
    height: 48px;
}

.ps4-icon {
    background: url("../images/coin-PS4-logo.png") 0 0 no-repeat;
}

.delete-icon {
    display: inline-block;
    width: 23px;
    height: 20px;
    border: 0;
    background: url('../images/gold-delete.png') no-repeat;
    cursor: pointer;
    vertical-align: middle;
}

.yellow-btn-icon {
    width: 80px;
    height: 20px !important;
    background-position: -419px -415px;
    color: #fff;
    cursor: pointer;
    border: none;
}

.blue-btn-icon {
    width: 80px;
    height: 20px !important;
    background-position: -419px -377px;
    color: #fff;
    cursor: pointer;
    border: none;
}

.nav-target {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-target-item {
    min-width: 50px;
    padding-left: 10px;
    padding-right: 20px;
    position: relative;
    text-transform: capitalize;
}

.nav-target-item:not(:last-child)::before {
    content: " ";
    position: absolute;
    top: 15%;
    right: 5px;
    width: 0;
    height: 0;
    border-left: 5px solid #fff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.icon01, .icon02, .icon03, .icon04, .icon05 {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../images/all-icon.png") 0 0 no-repeat;
}

.icon01 {
    background-position: -310px -50px;
}

.icon02 {
    background-position: -347px -50px;
}

.icon03 {
    background-position: -384px -50px;
}

.icon04 {
    background-position: -421px -50px;
}

.icon05 {
    background-position: -311px -88px;
}

.conven-pay span, .conven-price span, .creicon, .currency select, .default, .depicon, .f-google, .f-facebook, .f-twitter, .f-youtube, .fast-deli span, .french, .game-choice .on, .german, .good-repu span, .holland, .italy, .linfff, .login-but, .news-choice .on, .payment, .qbuynow, .qtitle, .quickorder, .search, .search-info, .sever-all li, .sever-mob, .sever-pc, .sever-ps4, .sever-swi, .sever-xb1, .shoppingcar, .affilia, .spain {
    background: var(--icon);
}

.busi-desc {
    padding: 20px;
    border: 5px solid #17386a;
    border-radius: 3px;
    background: #000b1c;
}

.artdesc-title {
    color: #e8bc2c;
    font-weight: 700;
    font-size: 22px;
}

.busi-desc p {
    padding-top: 16px;
    line-height: 26px;
}

.busi-desc p b {
    color: #fba786;
    font-size: 14px;
}

.busi-desc p span {
    color: #96d0fc;
    font-weight: 700;
}

.busi-desc ul {
    padding: 10px 0 0 30px;
    list-style-type: circle;
    line-height: 25px;
}

.busi-desc ul li {
    display: list-item;
    list-style-type: disc;
}

.busi-intro {
    position: relative;
    padding-right: 300px;
}

.busi-prices {
    position: relative;
    padding-right: 300px;
}

.busi-service {
    position: relative;
    margin: 10px 0;
    padding-left: 300px;
}

.busi-service img {
    position: absolute;
    top: 0;
    left: 24px;
}

.busi-intro img {
    position: absolute;
    top: 0;
    right: 0;
}

.busi-prices img {
    position: absolute;
    top: 30px;
    right: 90px;
}

.busi-desc strong {
    color: #d2bc2c;
}
