.payment-content {
    margin-top: 15px;
    width: 100%;
    display: block;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
    vertical-align: middle;
}

.coupon-box {
    width: 100%;
    position: relative;
}

.coupon-select {
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.coupon-select span:nth-of-type(1) {
    font-size: 14px;
}

.coupon-select span:nth-of-type(2) {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #666;
    border-radius: 4px;
    background-color: #eee;
}

.coupon-options {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    min-height: 50px;
    transition: all .5s ease-in .1s;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.coupon-options li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;
    padding: 9px 12px;
    font-size: 14px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.4);
    position: relative;
}

.coupon-options li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #353535;
    filter: blur(5px);
    z-index: -1;
    background-size: cover;
}

.coupon-options li:hover {
    background-color: #0d56b6;
}

.coupon-options li > input[type="radio"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.payment-method_title {
    margin-top: 10px;
    padding: 12px 15px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(194, 194, 194, 0.4);
}

.payment-method_list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    min-height: 54px;
    font-weight: 200;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    position: relative;
}

.payment-method_list li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(5px);
    z-index: -1;
    background-size: cover;
}

.payment-method_list li input[type="radio"] {
    width: 22px;
    height: 22px;
}

.payment-method_list li .pay-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 11px;
    color: #FEC601;
    text-transform: uppercase;
    border: 1px solid #FEC601;
    border-radius: 2px;
    margin-right: 15px;
}

.payment-method_list li em {
    margin: 0 10px;
    font-size: 14px;
    color: #FEC601;
}

.payment-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding: 0 15px;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    position: relative;
    z-index: 1;
}

.payment-price:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(5px);
    z-index: -1;
    background-size: cover;
}

.payment-price span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-price span > em {
    margin-left: 12px;
    font-style: normal;
    text-transform: uppercase;
}

.payment-contract {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 50px;
    padding: 0 15px;
    font-weight: 200;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;

}

.payment-contract:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(5px);
    z-index: -1;
    background-size: cover;
}

.payment-contract label {
    margin-left: 20px;
    cursor: pointer;
}

.payment-contract input[type='checkbox'] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.payment-btn {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    padding: 0 15px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 1;
    background-color: #5C81A6;
}

.payment-btn:active {
    box-shadow: 0 2px 12px #999;
}
