.payment-main {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.payment-main:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(5px);
    z-index: -10;
    background-size: cover;
}

.payment-process {
    padding-top: 80px;
    padding-bottom: 40px;
    width: 100%;
}

.payment-process ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-process ul li {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.payment-process ul li:before {
    content: " ";
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #b3b3b3;
    z-index: -10;
}

.payment-process ul li:nth-of-type(1):before {
    width: 50%;
    right: 0;
    left: 50%;
}

.payment-process ul li:nth-of-type(3):before {
    width: 50%;
}

.payment-process ul li.yes > em {
    background-color: #0d56b6;
}

.payment-process ul li > em {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 100%;
    background-color: #b3b3b3;
    cursor: pointer;
}

.payment-process ul li > span {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
}

.payment-content {
    margin-top: 15px;
    width: 100%;
    display: block;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
    vertical-align: middle;
}

.coupon-box {
    width: 100%;
    position: relative;
}

.coupon-select {
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.coupon-select span:nth-of-type(1) {
    font-size: 14px;
}

.coupon-select span:nth-of-type(2) {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #666;
    border-radius: 4px;
    background-color: #eee;
}

.coupon-options {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    min-height: 50px;
    transition: all .5s ease-in .1s;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.coupon-options li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;
    padding: 9px 12px;
    font-size: 14px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.4);
    position: relative;
}

.coupon-options li:hover {
    background-color: #0d56b6;
}

.coupon-options li > input[type="radio"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.payment-method_title {
    margin-top: 10px;
    padding: 12px 15px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(194, 194, 194, 0.4);
}

.payment-method_list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    min-height: 54px;
    font-weight: 200;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    position: relative;
}

.payment-method_list li input[type="radio"] {
    width: 22px;
    height: 22px;
}

input[type="radio"]:checked {
    background: yellow;
}

.payment-method_list li .pay-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 11px;
    color: #FEC601;
    text-transform: uppercase;
    border: 1px solid #FEC601;
    border-radius: 2px;
    margin-right: 15px;
}

.payment-method_list li em {
    margin: 0 10px;
    font-size: 14px;
    color: #FEC601;
}

.payment-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding: 0 15px;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    position: relative;
    z-index: 1;
}

.payment-price span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-price span > em {
    margin-left: 12px;
    font-style: normal;
    text-transform: uppercase;
}

.payment-contract {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 50px;
    padding: 0 15px;
    font-weight: 200;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;

}

.payment-contract label {
    margin-left: 20px;
    cursor: pointer;
}

.payment-contract input[type='checkbox'] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.payment-btn {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    padding: 0 15px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 1;
    background-color: #5C81A6;
}

.payment-btn:active {
    box-shadow: 0 2px 12px #999;
}

.payment-btn span {
    padding: 0 6px;
}

.delivery {
    width: 100%;
}

.delivery blockquote {
    width: 100%;
    height: 100px;
    padding: 15px;
    letter-spacing: 1px;
    border: 1px solid rgba(194, 194, 194, 0.4);
}

.delivery blockquote p:not(:first-child) {
    line-height: 20px;
}

.delivery blockquote p:first-child {
    font-size: 14px;
    font-weight: bold;
}

.delivery-title {
    width: 100%;
    font-size: 15px;
    padding: 16px 15px;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.4);
}

.delivery-select {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    font-size: 14px;
    color: white;
    position: relative;
}

.delivery-select i {
    position: absolute;
    top: 34%;
    right: 20px;
    font-size: 14px;
    font-weight: 200;
}

.delivery-select-value {
    padding: 15px;
    width: 100%;
    height: 50px;
    color: white;
    border: 1px solid rgba(194, 194, 194, 0.4);
    cursor: pointer;
}

.delivery-select ul {
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    width: 100%;
    min-height: 50px;
    color: white;
    background-color: #353535;
    z-index: 20;
}

.delivery-select ul li {
    padding: 15px;
    height: 50px;
    color: white;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.delivery-select ul li:not(:last-child) {
    border-bottom: 1px solid rgba(194, 194, 194, 0.4);
}

.delivery-select ul li:hover {
    background-color: #0d56b6;
}

.delivery-notice {
    padding: 15px;
    color: #d9aa08;
    border: 1px solid rgba(194, 194, 194, 0.4);
}

.delivery-notice p {
    letter-spacing: 1px;
    line-height: 24px;
}

.delivery-notice p:nth-child(2) {
    margin-bottom: 15px;
}

.delivery-input {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery-input input {
    flex-grow: 1;
    padding: 16px 15px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    border: 1px solid rgba(194, 194, 194, 0.4);
    background-color: transparent;
}

.delivery-input input::placeholder {
    color: #999;
}

.delivery-input input[type='button'] {
    flex-grow: unset;
    width: 200px;
    background-color: #0d56b6;
    margin-left: 12px;
    cursor: pointer;
}

.delivery-input input[type='button']:active {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.7);
}
