{include file="common:head" /}
<link rel="stylesheet" href="/static/css/payment.css">
<!-- 中间主体部分 -->
<div class="content">
    <div class="content-box">
        <div class="content-center">
            <!-- 主体左边-->
            <div class="content-center_left">
                {include file="common:logo" /}
                {include file="common:menu" /}
                <main class="payment-main">
                    <nav class="payment-process">
                        <ul>
                            <li class="yes"><em>1</em><span>Delivery Information & Check Out</span></li>
                            <li><em>2</em><span>Payment</span></li>
                            <li><em>3</em><span>Seller Delivery</span></li>
                        </ul>
                    </nav>
                    <section class="delivery">
                        <blockquote>
                            <p>PS4 Safe Trade FIFA 20 Coins</p>
                            <p>Seller: iGV flagship store (87.88% Positive)</p>
                            <p>Delivery Speed: 15 Minutes</p>
                        </blockquote>
                        <div class="delivery-title">
                            Quantity & Delivery Method
                        </div>
                        <div class="delivery-select">
                            <p class="delivery-select-value">100k</p>
                            <ul class="delivery-select-options">
                                <li value="1">100k</li>
                                <li value="2">200k</li>
                                <li value="3">300k</li>
                                <li value="4">400k</li>
                                <li value="5">500k</li>
                            </ul>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <div class="delivery-select">
                            <p class="delivery-select-value">100k</p>
                            <ul class="delivery-select-options">
                                <li value="1">FIFA 20 Coins</li>
                                <li value="2">FIFA 19 Coins</li>
                                <li value="3">FIFA 18 Coins</li>
                                <li value="4">FIFA 17 Coins</li>
                                <li value="5">FIFA 16 Coins</li>
                            </ul>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <article class="delivery-notice">
                            <p>After you completed payment We will send you one email and message which include one Delivery Link.</p>
                            <p>After you clicked the email Link, check the following steps for Safe Trade:</p>
                            <p>①(IMPORTANT) Please fill your Account information in email Link Attention:
                                Please log out your fut on you console end webapp.
                            <p>②Fill in the Code that EA sent to your phone / email twice, or fill backup codes.</p>
                            <p>③ When all information is correct. Delivery link page will shows processing / or
                                loading bar (IMPORTANT) During Transfering,please do not login in your FUT on console or webapp.
                                And Delivery link paqe can be closed. After we complete delivery,we will send you one Email and let you know.</p>
                            <p>To ensure the security of your account, please amend your account information immediately after the order
                                is completed.Thanks</p>
                        </article>
                        <div class="delivery-input">
                            <input type="email" placeholder="Contact Email">
                        </div>
                        <div class="delivery-input">
                            <input type="email" placeholder="Enter Your Coupon Code">
                            <input type="button" onclick="_link(this)" data-url="/index/payments" value="use">
                        </div>

                    </section>
                </main>

            </div>
            <!-- 主体左边-->
        </div>
    </div>
</div>
<!-- 中间主体部分 -->
{include file="common:footer" /}
</body>
<script>
    $(".coupon-select_chevron").click(function (event) {
        $(".coupon-options").toggle();
    });

    $(".delivery-select i").click(function (event) {
        $(this).siblings(".delivery-select-options").toggle();
    });

    let select_value = $(".delivery-select-value");

    select_value.click(function () {
        if ($(this).siblings(".delivery-select-options").css("display") === "none") {
            $(".delivery-select-options").hide();
            $(this).siblings(".delivery-select-options").show();
        } else {
            $(this).siblings(".delivery-select-options").hide();
        }
    });

    $(".delivery-select-options li").click(function () {
        select_value.text($(this).text());
    });

    $(".delivery-select-options").mouseover(function(){
        console.log(this);
    });

</script>
</html>
