{include file="common:head" /}
<link rel="stylesheet" href="/static/css/payment.css">
<!-- 中间主体部分 -->
<div class="content">
    <div class="content-box">
        <div class="content-center">
            <!-- 主体左边-->
            <div class="content-center_left">
                <!-- 图标 -->
                <div class="logo">
                    <a href="/">
                        <img class="logo-img" src="/static/images/fifa-logo.png" alt="">
                    </a>
                    <div class="logo-right">
                        <a href="/" class="logo-right_item">
                            <em class="affilia">Affiliate</em>
                        </a>
                        <a href="/" class="logo-right_item logo-right_item__shopping">
                            <i class="shoppingcar"></i>
                            <span>(0)</span>
                        </a>
                        <a class="logo-right_item">
                            items in Cart
                        </a>
                        <div class="logo-right_item logo-right_item__select-box">
                            <select class="logo-right_item__select icon-all">
                                <option selected="selected" value="USD">USD</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                                <option value="AUD">AUD</option>
                                <option value="CAD">CAD</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- 导航菜单 -->
                <div class="menu">
                    <a class="menu-home icon-all" href="/">HOME</a>
                    <div class="menu-list">
                        <div class="menu-list_item menu-list_item-select">
                            <a class="menu-list_item__a" href="javascript:void(0);">FIFA 19 COINS</a>
                            <ul class="menu-list_item-select_ul">
                                <li>
                                    <a href="#">FIFA19 Switch Coins</a>
                                </li>
                                <li>
                                    <a href="#">FIFA19 PS4 Coins</a>
                                </li>
                                <li>
                                    <a href="#">FIFA19 Xbox One Coins</a>
                                </li>
                                <li>
                                    <a href="#">FIFA19 PC Coins</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-list_item menu-list_item-select">
                            <a class="menu-list_item__a" href="javascript:void(0);">FIFA 20 COINS</a>
                            <ul class="menu-list_item-select_ul">
                                <li>
                                    <a href="#">FIFA 19 tools</a>
                                </li>
                                <li>
                                    <a href="#">FIFA 19 tools</a>
                                </li>
                                <li>
                                    <a href="#">FIFA 19 tools</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-list_item">
                            <a class="menu-list_item__a" href="javascript:void(0);">FIFA MOBILE COINS</a>
                        </div>
                        <div class="menu-list_item menu-list_item-select">
                            <a class="menu-list_item__a" href="javascript:void(0);">FIFA pack</a>
                            <ul class="menu-list_item-select_ul">
                                <li>
                                    <a href="#">FIFA pack</a>
                                </li>
                                <li>
                                    <a href="#">FIFA pack</a>
                                </li>
                                <li>
                                    <a href="#">FIFA pack</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-list_item menu-list_item-select">
                            <a class="menu-list_item__a" href="javascript:void(0);">NEWS</a>
                            <ul class="menu-list_item-select_ul">
                                <li>
                                    <a href="#">NEWS</a>
                                </li>
                                <li>
                                    <a href="#">NEWS</a>
                                </li>
                                <li>
                                    <a href="#">NEWS</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-list_item menu-list_item-select">
                            <a class="menu-list_item__a" href="javascript:void(0);">FIFA 19 tools</a>
                            <ul class="menu-list_item-select_ul">
                                <li>
                                    <a href="#">FIFA 19 tools</a>
                                </li>
                                <li>
                                    <a href="#">FIFA 19 tools</a>
                                </li>
                                <li>
                                    <a href="#">FIFA 19 tools</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <main class="payment-main">
                    <nav class="payment-process">
                        <ul>
                            <li><em>1</em><span>Delivery Information & Check Out</span></li>
                            <li class="yes"><em>2</em><span>Payment</span></li>
                            <li><em>3</em><span>Seller Delivery</span></li>
                        </ul>
                    </nav>
                    <!-- 支付 -->
                    <div class="payment-content">
                        <div class="coupon-box">
                            <div class="coupon-select">
                                <span>Coupon</span>
                                <span class="coupon-select_chevron"><i class="fa fa-chevron-down"></i></span>
                            </div>
                            <ul class="coupon-options" style="display: none;">
                                <!--没有优惠券时显示-->
                                <li style="display:none">暂无优惠</li>
                                <!---->
                                <li>
                                    <span>优惠1</span>
                                    <input type="radio" name="coupon-radio" value="优惠1"/>
                                </li>
                                <li>
                                    <span>优惠1</span>
                                    <input type="radio" name="coupon-radio" value="优惠1"/>
                                </li>
                                <li>
                                    <span>优惠1</span>
                                    <input type="radio" name="coupon-radio" value="优惠1"/>
                                </li>
                            </ul>
                        </div>
                        <div class="payment-method">
                            <div class="payment-method_title">Payment Method</div>
                            <ul class="payment-method_list">
                                <li>
                                    <span>支付宝</span>
                                    <span>
                                    <em>2.5%</em>
                                    <span class="pay-tag">fee</span>
                                    <input type="radio" name="radio" class="l-radio"/>
                                </span>
                                </li>
                                <li>
                                    <span>微信支付</span>
                                    <span>
                                    <em>2.5%</em>
                                    <span class="pay-tag">fee</span>
                                    <input type="radio" name="radio" class="l-radio"/>
                                </span>
                                </li>
                            </ul>
                            <div class="payment-price">Price <span>9.23 <em>USD</em></span></div>
                            <div class="payment-price">Coupon<span>-0.00 <em>USD</em></span></div>
                            <div class="payment-price">Transaction Free<span>+0.00 <em>USD</em></span></div>
                            <div class="payment-price">Payment Fee (0%)<span>+0.00 <em>USD</em></span></div>
                            <div class="payment-contract">
                                <input type="checkbox" name="contract" id="contract">
                                <label for="contract">I have read and accepted Terms & Conditions.</label>
                            </div>
                            <div class="payment-btn">
                                Confirm the Payment <span>9.23</span>USD
                            </div>
                        </div>
                    </div>
                    <!-- 支付 -->
                </main>
            </div>
            <!-- 主体左边-->
        </div>
    </div>
</div>
<!-- 中间主体部分 -->
{include file="common:footer" /}
</body>
<script>
    $(".coupon-select_chevron").click(function (event) {
        $(".coupon-options").toggle();
    });
</script>
</html>
