<!-- 底部 -->
<footer>
    <div class="foot">
        <div class="foot-center">
            <div class="foot-center_left">
                <dl>
                    <dt>Main links</dt>
                    <dd><a href="">Contact Us</a></dd>
                    <dd><a href="">About Us</a></dd>
                    <dd><a href="">Cancellations</a></dd>
                    <dd><a href="">Conditions</a></dd>
                    <dd><a href="">Site Map</a></dd>
                </dl>
                <dl>
                    <dt>Product</dt>
                    <dd><a href="">FIFA Coins</a></dd>
                    <dd><a href="">FIFA 19 Coins</a></dd>
                    <dd><a href="">FIFA 20 Coins</a></dd>
                    <dd><a href="">FIFA Mobile Coins</a></dd>
                    <dd><a href="">Sell To Us</a></dd>
                </dl>
                <dl>
                    <dt>Other languages</dt>
                    <dd>
                        <a href="">
                                <span>
                                    <!--<img src="/images/nl.png">-->
                                </span>
                            Fifa Coins Kopen
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                                <span>
                                    <!--<img src="/images/italy.png">-->
                                </span>Acquistare
                            Fifa Coins
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                                <span>
                                    <!--<img src="/images/fr.png">-->
                                </span>
                            Acheter Fifa Coins
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                                <span>
                                    <!--<img src="/images/de.png">-->
                                </span>Fifa Coins Kaufen
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                                <span>
                                    <!--<img src="/images/Spain.png">-->
                                </span>Compra Fifa Coins
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt>Social media</dt>
                    <dd>
                        <a href="https://www.facebook.com">
                            <span class="f-facebook"></span>Join us on Facebook
                        </a>
                    </dd>
                    <dd>
                        <a href="https://twitter.com">
                            <span class="f-twitter"></span>Follow us on Twitter
                        </a></dd>
                    <dd>
                        <a href="https://www.youtube.com">
                            <span class="f-youtube"></span>Watch us on Youtube
                        </a>
                    </dd>
                    <dd>
                        <a href="https://www.google.com">
                            <span class="f-google"></span>Join us on Google+
                        </a>
                    </dd>
                </dl>
            </div>
            <div class="foot-center_right">
                <img src="/static/images/foot-logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>FIFAAH.COM Copyright 2014-2020, Inc. All Rights Reserved</p>
        <p>Notice : Possible account termination when using illegal leveling or illegally obtained gold</p>
    </div>
</footer>
<!-- 底部 -->
<!-- 公共的js文件 -->
<script src="/static/js/index.js"></script>