<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fifa.com</title>
    <!-- 导入公共主体样式 -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- 导入当前页面样式 -->
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/swiper/css/swiper.min.css">
    <!-- 导入字体图标库 -->
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- 导入JQuery -->
    <script src="/static/js/jquery/jquery-3.2.1.min.js"></script>
</head>

<body>
<!-- 顶部 -->
<header>
    <div class="nav">
        <div class="nav-left">
            <div class="nav-left_text">The World Top FIFA Coins Online Store</div>
            <!-- 分享图标 -->
            <ul class="nav-left_share">
                <li>
                    <a href="https://www.google.com/+fifaah2015" target="_blank" class="icon01"></a>
                </li>
                <li>
                    <a href="https://www.google.com/+fifaah2015" target="_blank" class="icon02"></a>
                </li>
                <li>
                    <a href="https://www.google.com/+fifaah2015" target="_blank" class="icon03"></a>
                </li>
                <li>
                    <a href="https://www.google.com/+fifaah2015" target="_blank" class="icon04"></a>
                </li>
            </ul>
            <!-- 分享图标 -->
        </div>
        <!-- 登陆注册忘记密码 -->
        <div class="nav-right">
            {if $user_info !== null }
            <a class="nav-right_login" href="javascript:;">
                <i class="icon05"></i>&nbsp;&nbsp;<span>{$user_info['username']}</span>
            </a>
            <a class="nav-right_register" href="/index/logout">logout</a>
            {else /}
            <a class="nav-right_login" href="/index/login">
                <i class="icon05"></i>&nbsp;&nbsp;<span>Login</span>
            </a>
            <a class="nav-right_register" href="/index/register">Register</a>
            <a class="nav-right_forgot" href="/index/forgot_password">Forgot Password ?</a>
            {/if}
        </div>
        <!-- 登陆注册忘记密码 -->
    </div>
</header>
<!-- 顶部 -->
