<!-- 图标 -->
<div class="logo">
    <a href="/">
        <img class="logo-img" src="/static/images/fifa-logo.png" alt="logo">
    </a>
    <div class="logo-right">
        <a class="logo-right_item">
            <i class="icon-all affiliate"></i>
            <span>Affiliate</span>
        </a>
        <a class="logo-right_item logo-right_item__shopping">
            <i class="fa fa-shopping-cart fa-lg"></i>
            <span>(0)</span>
        </a>
        <a class="logo-right_item">
            items in Cart
        </a>
        <div class="logo-right_item logo-right_item__select-box">
            <select class="logo-right_item__select icon-all">
                <option selected="selected" value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="AUD">AUD</option>
                <option value="CAD">CAD</option>
            </select>
        </div>
    </div>
</div>
