<!-- 导航菜单 -->
<div class="menu">
    <a class="menu-home icon-all" href="/">HOME</a>
    <div class="menu-list">
        <div class="menu-list_item menu-list_item-select">
            <a class="menu-list_item__a" href="javascript:void(0);">FIFA 19 COINS</a>
            <ul class="menu-list_item-select_ul">
                <li>
                    <a href="#">FIFA19 Switch Coins</a>
                </li>
                <li>
                    <a href="#">FIFA19 PS4 Coins</a>
                </li>
                <li>
                    <a href="#">FIFA19 Xbox One Coins</a>
                </li>
                <li>
                    <a href="#">FIFA19 PC Coins</a>
                </li>
            </ul>
        </div>
        <div class="menu-list_item menu-list_item-select">
            <a class="menu-list_item__a" href="javascript:void(0);">FIFA 20 COINS</a>
            <ul class="menu-list_item-select_ul">
                <li>
                    <a href="#">FIFA 19 tools</a>
                </li>
                <li>
                    <a href="#">FIFA 19 tools</a>
                </li>
                <li>
                    <a href="#">FIFA 19 tools</a>
                </li>
            </ul>
        </div>
        <div class="menu-list_item">
            <a class="menu-list_item__a" href="javascript:void(0);">FIFA MOBILE COINS</a>
        </div>
        <div class="menu-list_item menu-list_item-select">
            <a class="menu-list_item__a" href="javascript:void(0);">FIFA pack</a>
            <ul class="menu-list_item-select_ul">
                <li>
                    <a href="#">FIFA pack</a>
                </li>
                <li>
                    <a href="#">FIFA pack</a>
                </li>
                <li>
                    <a href="#">FIFA pack</a>
                </li>
            </ul>
        </div>
        <div class="menu-list_item menu-list_item-select">
            <a class="menu-list_item__a" href="javascript:void(0);">NEWS</a>
            <ul class="menu-list_item-select_ul">
                <li>
                    <a href="#">NEWS</a>
                </li>
                <li>
                    <a href="#">NEWS</a>
                </li>
                <li>
                    <a href="#">NEWS</a>
                </li>
            </ul>
        </div>
        <div class="menu-list_item menu-list_item-select">
            <a class="menu-list_item__a" href="javascript:void(0);">FIFA 19 tools</a>
            <ul class="menu-list_item-select_ul">
                <li>
                    <a href="#">FIFA 19 tools</a>
                </li>
                <li>
                    <a href="#">FIFA 19 tools</a>
                </li>
                <li>
                    <a href="#">FIFA 19 tools</a>
                </li>
            </ul>
        </div>
    </div>
</div>
