{include file="common:head" /}
<link rel="stylesheet" href="/static/css/order.css">
<!-- 中间主体部分 -->
<div class="content">
    <div class="content-box">
        <div class="content-center">
            <!-- 主体左边-->
            <div class="content-center_left">
                {include file="common:logo" /}
                {include file="common:menu" /}
                <main>
                    <blockquote>
                        <div>
                            <select name="order_classify" id="">
                                <option value="0">全部订单类型</option>
                            </select>
                            <select name="game_classify" id="">
                                <option value="0">全部游戏</option>
                            </select>
                        </div>
                        <div class="search-box">
                            <input type="text" placeholder="订单号 / 商品名称">
                            <i class="fa fa-search"></i>
                        </div>
                    </blockquote>
                    <nav>
                        <ul>
                            <li class="yes">全部</li>
                            <li>待付款</li>
                            <li>待发货</li>
                            <li>已完成</li>
                            <li>已取消</li>
                        </ul>
                    </nav>
                    <section>
                        <ul class="order-list_head">
                            <li>订单信息</li>
                            <li>商品数量</li>
                            <li>金额</li>
                            <li>状态</li>
                            <li>操作</li>
                        </ul>
                        <div class="order-list-item">
                            <p class="order-list-item_title">
                                25/05/20 08:06:53/订单号: GLD1590394013992268/卖家: Girn Play
                            </p>
                            <ul class="order-list_row">
                                <li>
                                    <p>50 K FIFA 20-PS4-Safe Trade-Coins</p>
                                    <p>· 递送方式:邮箱</p>
                                    <p>· FIFA 20-递送联系邮箱: xuefang fu@wision.com</p>
                                    <p>· 承诺递送速度: 15分钟</p>
                                </li>
                                <li>50 K</li>
                                <li>4.62 USD
                                    <em>BitCoin</em>
                                </li>
                                <li>已取消</li>
                                <li>/</li>
                            </ul>
                        </div>
                        <div class="order-list-item">
                            <p class="order-list-item_title">
                                25/05/20 08:06:53/订单号: GLD1590394013992268/卖家: Girn Play
                            </p>
                            <ul class="order-list_row">
                                <li>
                                    <p>50 K FIFA 20-PS4-Safe Trade-Coins</p>
                                    <p>· 递送方式:邮箱</p>
                                    <p>· FIFA 20-递送联系邮箱: xuefang fu@wision.com</p>
                                    <p>· 承诺递送速度: 15分钟</p>
                                </li>
                                <li>50 K</li>
                                <li>4.62 USD
                                    <em>BitCoin</em>
                                </li>
                                <li>已取消</li>
                                <li>/</li>
                            </ul>
                        </div>
                    </section>
                </main>
            </div>
            <!-- 主体左边-->
        </div>
    </div>
</div>
<!-- 中间主体部分 -->
{include file="common:footer" /}
</body>
<script>
    $("nav>ul>li").click(function () {
        let index = $(this).index();
        console.log(index);
        $(this).siblings('li').removeClass("yes");
        $(this).addClass("yes");
    });
</script>
</html>
