{include file="common:head" /}
<link rel="stylesheet" href="/static/css/detail.css">
<!-- 中间主体部分 -->
<div class="content">
    <div class="content-box">
        <div class="content-center">
            <!-- 主体左边-->
            <div class="content-center_left">
                {include file="common:logo" /}
                {include file="common:menu" /}
                <!-- 导航标签 -->
                <div class="nav-target">
                    <span class="nav-target-item">HOME</span>
                    <span class="nav-target-item">fifa 20 Coins</span>
                    <span class="nav-target-item">Ps4 Fut20 Coins</span>
                </div>
                <!-- 导航标签 -->
                <div class="buy-box">
                    <div class="buy-box-name icon-all">
                        <h3> BUY FIFA20 PS4 COINS</h3>
                        <a class="ps4-icon" href="#"></a>
                    </div>
                    <div class="buy-box-delivery">
                        <em tag="1" class="on">
                            Player Auction
                            <span>(0-12 Hours Delivery)</span>
                        </em>
                        <em tag="8">
                            Comfort Trade
                            <span>(0-12 Hours Delivery)</span>
                        </em>
                        <em tag="10">
                            FIFA 20 Players
                            <span>(0-12 Hours Delivery)</span>
                        </em>
                    </div>
                    <div class="buy-box-list">
                        <div class="list-desc">
                            strongly recommended the auction duration > 72 hours.
                        </div>
                        <form action="#" class="list-form">
                            <div class="list-form_item">Custom Coins Num:</div>
                            <div class="list-form_item">
                                <input type="number" value="10">
                                <span>
                                        k
                                        <img src="https://www.fifaah.com/images/write.png" alt="">
                                    </span>
                            </div>
                            <div class="list-form_item">0 USD</div>
                            <div class="list-form_item">
                                <button type="submit" class="icon-all yellow-btn-icon" onclick="_link(this)" data-url="/index/cart">Buy Now</button>
                            </div>
                        </form>
                        <div class="list-ul">
                            <div class="list-ul_header">
                                <span>Amount</span>
                                <span>Price</span>
                                <span>&nbsp;</span>
                            </div>
                            {for start="1" end="15"}
                            <!-- 单个商品 -->
                            <div class="list-ul_li">
                                <div class="list-ul_li__title">
                                    <img src="https://www.fifaah.com/images/ps4-ico.png" alt="">
                                    FIFA20 PS4 Coins 10K
                                </div>
                                <div class="list-ul_li__price">
                                    1.13 USD
                                </div>
                                <div class="list-ul_li__btn">
                                    <button type="submit" class="icon-all blue-btn-icon" id="goods_{$i}">Add Cart</button>
                                    <button type="submit" class="icon-all yellow-btn-icon" onclick="_link(this)" data-url="/index/cart">Buy Now</button>
                                </div>
                            </div>
                            <!-- 单个商品 -->
                            {/for}
                        </div>
                    </div>
                </div>
            </div>
            <!-- 主体左边-->
            {include file="common:content_right" /}
        </div>
    </div>
</div>
<!-- 中间主体部分 -->
{include file="common:footer" /}
</body>

</html>
