{include file="common:head" /}
<!-- 中间主体部分 -->
<div class="content">
    <div class="content-box">
        <div class="content-center">
            <!-- 主体左边-->
            <div class="content-center_left">
                {include file="common:logo" /}
                {include file="common:menu" /}
                <!-- 轮播图 -->
                <div class="banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/static/images/20190919173354.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/static/images/20191009101056.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="ilt-banner">
                    <img src="/static/images/iltbanner.png" alt="">
                    <div class="ilt-banner-text">
                        <h1 style="color: #fec601;">FIFA coins store, welcome!</h1>
                        <ul>
                            <li>
                                FIFAAH.COM is the reliable Store to <a href="/"><strong>buy FIFA Coins</strong></a>
                                including FUT 20/19 Coins on all platforms with great reputation in the market!
                            </li>
                            <li>
                                Cheap <a href="/fifa-20-coins"><strong>FIFA 20 Coins</strong></a> for
                                Switch/PS4/PS3/PC/Xbox One/Xbox 360 and <a href="/fifa-mobile-coins"><strong>FIFA
                                Mobile
                                Coins</strong></a> for iOS, Android are Hot Sale Here!
                            </li>
                            <li>
                                We have a large stock of <a href="/fifa-20-coins"><strong>FIFA 20 UT
                                Coins</strong></a>,
                                FIFA 19 Coins and all <a href="/"><strong>FUT Coins</strong></a> with cheap prices,
                                fast
                                delivery and professional services!
                            </li>
                            <li>
                                Play our FIFA Packs Opening Simulator to get FREE FIFA 20 Coins and receive Discount
                                Cash Code. More free coins giveaway and special coupons for FIFA 20 Ultimate Team
                                Coins
                                will be offered, stay tuned!
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <div class="sever-box">
                    <div class="sever-box_title icon-all">FIFA 20 COINS</div>
                    <div class="sever-box_list">
                        <a class="sever-box_list__item icon-all" href="/index/detail/id/1">
                            <p>FIFA 20 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_ps4"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="/index/detail/id/1">
                            <p>FIFA 20 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_xbox"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="/index/detail/id/1">
                            <p>FIFA 20 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_switch"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="/index/detail/id/1">
                            <p>FIFA 20 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_mobile"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="/index/detail/id/1">
                            <p>FIFA 20 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_pc"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                    </div>

                    <div class="sever-box_title icon-all">FIFA 19 COINS</div>
                    <div class="sever-box_list">
                        <a class="sever-box_list__item icon-all" href="/index/detail/id/1">
                            <p>FIFA 19 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_ps4"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="/index/detail/id/1">
                            <p>FIFA 19 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_xbox"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="/index/detail/id/1">
                            <p>FIFA 19 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_switch"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="/index/detail/id/1">
                            <p>FIFA 19 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_mobile"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="/index/detail/id/1">
                            <p>FIFA 20 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_pc"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 主体左边-->
            {include file="common:content_right" /}
        </div>
        <!-- 活动 -->
        <div class="activity">
            <div class="activity-header">
                <div class="activity-header_title icon-all">FIFA 19 Function</div>
            </div>
            <div class="activity-body">
                <div class="activity-list">
                    <a class="activity-list-item">
                        <img src="/static/images/packs-simula.png" alt="">
                    </a>
                    <a class="activity-list-item">
                        <img src="/static/images/create-squads.png" alt="">
                    </a>
                    <a class="activity-list-item">
                        <img src="/static/images/player-search.png" alt="">
                    </a>
                    <a class="activity-list-item">
                        <img src="/static/images/price-trend.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- 活动 -->
        <!-- 新闻列表 -->
        <div class="news">
            <div class="news-header">
                <div class="news-header_title icon-all">FUT News</div>
                <a class="news-header_more">
                    More +
                </a>
            </div>
            <div class="news-body">
                <!-- 列表 -->
                <div class="news-list-item">
                    <div class="new-list-item_img"></div>
                    <div class="new-list-item_article">
                        <p class="new-list-item_article__title">
                            <a href=""> FIFA 20 FUT Birthday Steven Bergwijn SBC - Requirements, Awards and Cheap
                                Squad Building
                            </a>
                            <span>04/03/2020 10:50:23 AM</span>
                        </p>
                        <article class="new-list-item_article__desc">
                            New FIFA 20 Ultimate Team squad creation challenges available! As happened last year, we
                            will provide you throughout the season with information on the requirements, prizes, and
                            solutions of each SBC!...
                        </article>
                    </div>
                </div>
                <div class="news-list-item">
                    <div class="new-list-item_img"></div>
                    <div class="new-list-item_article">
                        <p class="new-list-item_article__title">
                            <a href=""> FIFA 20 FUT Birthday Steven Bergwijn SBC - Requirements, Awards and Cheap
                                Squad Building
                            </a>
                            <span>04/03/2020 10:50:23 AM</span>
                        </p>
                        <article class="new-list-item_article__desc">
                            New FIFA 20 Ultimate Team squad creation challenges available! As happened last year, we
                            will provide you throughout the season with information on the requirements, prizes, and
                            solutions of each SBC!...
                        </article>
                    </div>
                </div>
                <div class="news-list-item">
                    <div class="new-list-item_img"></div>
                    <div class="new-list-item_article">
                        <p class="new-list-item_article__title">
                            <a href=""> FIFA 20 FUT Birthday Steven Bergwijn SBC - Requirements, Awards and Cheap
                                Squad Building
                            </a>
                            <span>04/03/2020 10:50:23 AM</span>
                        </p>
                        <article class="new-list-item_article__desc">
                            New FIFA 20 Ultimate Team squad creation challenges available! As happened last year, we
                            will provide you throughout the season with information on the requirements, prizes, and
                            solutions of each SBC!...
                        </article>
                    </div>
                </div>
                <div class="news-list-item">
                    <div class="new-list-item_img"></div>
                    <div class="new-list-item_article">
                        <p class="new-list-item_article__title">
                            <a href=""> FIFA 20 FUT Birthday Steven Bergwijn SBC - Requirements, Awards and Cheap
                                Squad Building
                            </a>
                            <span>04/03/2020 10:50:23 AM</span>
                        </p>
                        <article class="new-list-item_article__desc">
                            New FIFA 20 Ultimate Team squad creation challenges available! As happened last year, we
                            will provide you throughout the season with information on the requirements, prizes, and
                            solutions of each SBC!...
                        </article>
                    </div>
                </div>
                <!-- 列表 -->
            </div>
        </div>
        <!-- 新闻列表 -->
        <!-- 人物 -->
        <article class="busi-desc" style="height: auto !important;">
            <div class="artdesc-title">Top Worldwide FIFA Coins Store FIFAAH.Com</div>
            <div class="busi-intro" style="height: auto !important;">
                <p> FIFAAH.COM is the reliable Store to
                    <strong>buy FIFA Coins</strong>
                    including FUT 19 Coins on all platforms with great reputation and 6+ years experiences in the market! With the fastest delivery provided by professional traders, excellent customer support supplied by our first-rate 24/7 online service team, safe transaction ensured by over 20 regular global payments, we are the Top
                    <strong>FIFA Coins Shop</strong>
                    worldwide, ensure every FUT player buy cheap FIFA Ultimate Team without any risk and misgivings.
                </p>
                <ul style="height: auto !important;">
                    <li>Cheap FIFA 19 Coins for Switch/PS4/PS3/PC/Xbox One/Xbox 360 and FIFA Mobile Coins for iOS, Android are Hot Sale Here!</li>
                    <li>We have a large stock of FIFA 19 UT Coins and all FUT Coins with cheap prices, fast delivery and professional services!</li>
                    <li>Play our FIFA Packs Opening Simulator to get FREE FIFA 19 Coins and receive Discount Cash Code. More free coins giveaway and special coupons for FIFA 19 Ultimate Team Coins will be offered!</li>
                    <li>Check FIFA 19 Players Ratings and Build your custom FUT squads with our FIFA 19 Squad Builder, also we will release some giveaways like competition for FIFA 19 TOTW Predictions, stay tuned!</li>
                </ul>
                <img src="/static/images/busi-int.png" alt="">
            </div>
            <div class="busi-service" style="height: auto !important;">
                <p style="height: auto !important;">
                    <b>Lowe Prices, Fastest Delivery, 100% Safe For FIFA Coins Guaranteed</b><br>
                    <span> Cheap FIFA Coins Prices </span>- All FIFA Coins including FUT 20 Coins are sold here at the lowest prices in the whole market, no one can beat our prices and service!<br>
                    <span>Instant Delivery</span> - We work with legit FUT Coins suppliers to ensure enough stock and fast delivery for FIFA 20 Coins. 99% of FIFA Coins orders can be finished in 5-30 minutes, average delivery time 15 minutes!<br>
                    <span>Safe Payment </span>- We accept various safe worldwide payments like Paypal, Skrill, Paysafcard and G2A PAY for big payments, anti-virus system secured.
                <br>
                <span> 100% Secure</span> - The safety of your FIFA account is what we take seriously, we’ll do whatever we can to make sure all transactions are being smoothly performed!<br>
                <span>Full Refund</span> - Our refund policy normally takes away all worries to buy FIFA Ultimate Team here. You can request for a full refund back as far as our order is terminated before delivery!<br>
                <span>24/7 Customer Services</span> - We offer 24/7 online live support helping you find a solution for any issues experienced during buying FIFA UT Coins and Delivery Team work 24/7 online to server you buy FIFA Coins anytime.
                </p>
                <img src="/static/images/pusi-ser.png" alt="">
            </div>
            <div class="busi-prices">
                <p><b>Buy Cheap &amp; Legit FIFA Coins Here To Enjoy Better Game!</b><br> FIFA Coins are the optional currency that you can use in-game to purchase the FUT Packs, top rated player cards for your Ultimate Team, other game items and more! So FUT Coins also can be used to purchase training and stadium upgrades, such as training cones and seating. So you need enough coins to enjoy a better football game! So we strongly welcome you to buy legit and cheap safe FIFA Coins at FIFAAH.Com! </p>
                <img src="/static/images/busi-pri.png" alt="">
            </div>
        </article>
        <!-- 人物 -->
        <!-- 关于 -->
        <div class="about">
            <div class="about-list">
                <div class="about-list_item">
                    <div class="about-list_item__header">
                        <span class="reputation-icon"></span>
                        <em>Good Reputation</em>
                    </div>
                    <p class="about-list_item__body">
                        FIFAAH has more than 9 years experience of offering safe and
                        cheap FIFA Coins online service,
                        millions clients base of the credibility of witnesses.
                    </p>
                </div>
                <div class="about-list_item">
                    <div class="about-list_item__header">
                        <span class="payment-icon"></span>
                        <em>Good Reputation</em>
                    </div>
                    <p class="about-list_item__body">
                        We support 20+ global payment methods Moneybookers / Paypal / Paysafecard to buy FIFA 19
                        Coins and FUT Coins convenient and security.
                    </p>
                </div>
                <div class="about-list_item">
                    <div class="about-list_item__header">
                        <span class="price-icon"></span>
                        <em>Good Reputation</em>
                    </div>
                    <p class="about-list_item__body">
                        We prepare enough cheap FUT 19 Coins for PC/PS4/XBOX/PS3/IOS with instant delivery. Huge
                        stock of FIFA Coins can always keep the lowest price.
                    </p>
                </div>
                <div class="about-list_item">
                    <div class="about-list_item__header">
                        <span class="fast-icon"></span>
                        <em>Good Reputation</em>
                    </div>
                    <p class="about-list_item__body">
                        Reliable cheap FIFA Coins real stock can ensure 5 minutes delivery. 24/7 Online Live Chat
                        can help you check order easy.
                    </p>
                </div>
            </div>
        </div>
        <!-- 关于 -->
    </div>
</div>
<!-- 中间主体部分 -->
<!-- 当前页面的js文件 -->
<script src="/static/swiper/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: true, //可选选项，自动滑动
        loop: true, // 循环模式选项
        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
{include file="common:footer" /}
</body>

</html>
