{include file="common:head" /}
<!-- 中间主体部分 -->
<div class="content">
    <div class="content-box">
        <div class="content-center">
            <!-- 主体左边-->
            <div class="content-center_left">
                <!-- 图标 -->
                <div class="logo">
                    <a href="/">
                        <img class="logo-img" src="/static/images/fifa-logo.png" alt="">
                    </a>
                    <div class="logo-right">
                        <a href="/" class="logo-right_item">
                            <em class="affilia">Affiliate</em>
                        </a>
                        <a href="/" class="logo-right_item logo-right_item__shopping">
                            <i class="shoppingcar"></i>
                            <span>(0)</span>
                        </a>
                        <a class="logo-right_item">
                            items in Cart
                        </a>
                        <div class="logo-right_item logo-right_item__select-box">
                            <select class="logo-right_item__select icon-all">
                                <option selected="selected" value="USD">USD</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                                <option value="AUD">AUD</option>
                                <option value="CAD">CAD</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- 导航菜单 -->
                <div class="menu">
                    <a class="menu-home icon-all" href="/">HOME</a>
                    <div class="menu-list">
                        <div class="menu-list_item menu-list_item-select">
                            <a class="menu-list_item__a" href="javascript:void(0);">FIFA 19 COINS</a>
                            <ul class="menu-list_item-select_ul">
                                <li>
                                    <a href="#">FIFA19 Switch Coins</a>
                                </li>
                                <li>
                                    <a href="#">FIFA19 PS4 Coins</a>
                                </li>
                                <li>
                                    <a href="#">FIFA19 Xbox One Coins</a>
                                </li>
                                <li>
                                    <a href="#">FIFA19 PC Coins</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-list_item menu-list_item-select">
                            <a class="menu-list_item__a" href="javascript:void(0);">FIFA 20 COINS</a>
                            <ul class="menu-list_item-select_ul">
                                <li>
                                    <a href="#">FIFA 19 tools</a>
                                </li>
                                <li>
                                    <a href="#">FIFA 19 tools</a>
                                </li>
                                <li>
                                    <a href="#">FIFA 19 tools</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-list_item">
                            <a class="menu-list_item__a" href="javascript:void(0);">FIFA MOBILE COINS</a>
                        </div>
                        <div class="menu-list_item menu-list_item-select">
                            <a class="menu-list_item__a" href="javascript:void(0);">FIFA pack</a>
                            <ul class="menu-list_item-select_ul">
                                <li>
                                    <a href="#">FIFA pack</a>
                                </li>
                                <li>
                                    <a href="#">FIFA pack</a>
                                </li>
                                <li>
                                    <a href="#">FIFA pack</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-list_item menu-list_item-select">
                            <a class="menu-list_item__a" href="javascript:void(0);">NEWS</a>
                            <ul class="menu-list_item-select_ul">
                                <li>
                                    <a href="#">NEWS</a>
                                </li>
                                <li>
                                    <a href="#">NEWS</a>
                                </li>
                                <li>
                                    <a href="#">NEWS</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-list_item menu-list_item-select">
                            <a class="menu-list_item__a" href="javascript:void(0);">FIFA 19 tools</a>
                            <ul class="menu-list_item-select_ul">
                                <li>
                                    <a href="#">FIFA 19 tools</a>
                                </li>
                                <li>
                                    <a href="#">FIFA 19 tools</a>
                                </li>
                                <li>
                                    <a href="#">FIFA 19 tools</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 轮播图 -->
                <div class="banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/static/images/20190919173354.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/static/images/20191009101056.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="ilt-banner">
                    <img src="/static/images/iltbanner.png" alt="">
                    <div class="ilt-banner-text">
                        <h1 style="color: #fec601;">FIFA coins store, welcome!</h1>
                        <ul>
                            <li>
                                FIFAAH.COM is the reliable Store to <a href="/"><strong>buy FIFA Coins</strong></a>
                                including FUT 20/19 Coins on all platforms with great reputation in the market!
                            </li>
                            <li>
                                Cheap <a href="/fifa-20-coins"><strong>FIFA 20 Coins</strong></a> for
                                Switch/PS4/PS3/PC/Xbox One/Xbox 360 and <a href="/fifa-mobile-coins"><strong>FIFA
                                Mobile
                                Coins</strong></a> for iOS, Android are Hot Sale Here!
                            </li>
                            <li>
                                We have a large stock of <a href="/fifa-20-coins"><strong>FIFA 20 UT
                                Coins</strong></a>,
                                FIFA 19 Coins and all <a href="/"><strong>FUT Coins</strong></a> with cheap prices,
                                fast
                                delivery and professional services!
                            </li>
                            <li>
                                Play our FIFA Packs Opening Simulator to get FREE FIFA 20 Coins and receive Discount
                                Cash Code. More free coins giveaway and special coupons for FIFA 20 Ultimate Team
                                Coins
                                will be offered, stay tuned!
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <div class="sever-box">
                    <div class="sever-box_title icon-all">FIFA 20 COINS</div>
                    <div class="sever-box_list">
                        <a class="sever-box_list__item icon-all" href="#">
                            <p>FIFA 20 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_ps4"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="#">
                            <p>FIFA 20 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_xbox"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="#">
                            <p>FIFA 20 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_switch"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="#">
                            <p>FIFA 20 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_mobile"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="#">
                            <p>FIFA 20 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_pc"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                    </div>

                    <div class="sever-box_title icon-all">FIFA 19 COINS</div>
                    <div class="sever-box_list">
                        <a class="sever-box_list__item icon-all" href="#">
                            <p>FIFA 19 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_ps4"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="#">
                            <p>FIFA 19 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_xbox"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="#">
                            <p>FIFA 19 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_switch"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="#">
                            <p>FIFA 19 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_mobile"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                        <a class="sever-box_list__item icon-all" href="#">
                            <p>FIFA 20 PS4 COINS</p>
                            <div class="sever-box_list__item___text">
                                <span class="sever-icon_pc"></span>
                                <span class="sever-box_list__item___text-font">PLAYSTATION4</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 主体左边-->
            <!-- 主体右边-->
            <div class="content-center_right">
                <!-- 搜索框 -->
                <div class="search icon-all">
                    <div class="search-header icon-all">Search Order Information</div>
                    <div class="search-box">
                        <input type="text" placeholder="Input Order Number">
                        <button class="icon-all"></button>
                    </div>
                </div>
                <!-- 订单 -->
                <div class="quick-order icon-all">
                    <div class="quick-title icon-all">
                        Quick Buy
                    </div>
                    <div class="quick-sec">
                        <ol>
                            <li>
                                <span>Game</span>
                                <select>
                                    <option value="FIFA20">FIFA 20</option>
                                    <option value="FIFA19">FIFA19</option>
                                    <option value="FIFA Mobile">FIFA Mobile</option>
                                </select>
                            </li>
                            <li>
                                <span>Platform</span>
                                <select>
                                    <option value="PC">PC</option>
                                    <option value="PS4">PS4</option>
                                    <option value="Switch">Switch</option>
                                    <option value="Xbox One">Xbox One</option>
                                </select>
                            </li>
                            <li>
                                <span>Delivery</span>
                                <select>
                                    <option value="1">Player Auction</option>
                                    <option value="8">Comfort Trade</option>
                                </select>
                            </li>
                            <li>
                                <span>Products</span>
                                <select>
                                    <option value="10|1.09|4833175|1">10K Coins 1.09 USD</option>
                                    <option value="20|2.08|4833171|1">20K Coins 2.08 USD</option>
                                    <option value="30|3.12|4833198|1">30K Coins 3.12 USD</option>
                                    <option value="50|5.2|4833186|1">50K Coins 5.2 USD</option>
                                    <option value="60|6.24|4833173|1">60K Coins 6.24 USD</option>
                                    <option value="70|7.28|4833169|1">70K Coins 7.28 USD</option>
                                    <option value="80|8.32|4833176|1">80K Coins 8.32 USD</option>
                                    <option value="90|9.36|4833184|1">90K Coins 9.36 USD</option>
                                    <option value="100|10.4|4833168|1">100K Coins 10.4 USD</option>
                                    <option value="200|20.79|4833197|1">200K Coins 20.79 USD</option>
                                    <option value="300|31.18|4833191|1">300K Coins 31.18 USD</option>
                                    <option value="400|41.58|4833180|1">400K Coins 41.58 USD</option>
                                    <option value="500|51.98|4833193|1">500K Coins 51.98 USD</option>
                                    <option value="600|62.37|4833187|1">600K Coins 62.37 USD</option>
                                    <option value="700|72.76|4833177|1">700K Coins 72.76 USD</option>
                                    <option value="800|83.16|4833179|1">800K Coins 83.16 USD</option>
                                    <option value="900|93.56|4833189|1">900K Coins 93.56 USD</option>
                                    <option value="1000|103.95|4833188|1">1000K Coins 103.95 USD</option>
                                    <option value="2000|207.9|4833194|1">2000K Coins 207.9 USD</option>
                                    <option value="3000|311.85|4833195|1">3000K Coins 311.85 USD</option>
                                    <option value="4000|415.8|4833170|1">4000K Coins 415.8 USD</option>
                                    <option value="5000|519.75|4833190|1">5000K Coins 519.75 USD</option>
                                    <option value="6000|623.7|4833199|1">6000K Coins 623.7 USD</option>
                                    <option value="7000|727.65|4833183|1">7000K Coins 727.65 USD</option>
                                    <option value="8000|831.6|4833181|1">8000K Coins 831.6 USD</option>
                                    <option value="9000|935.55|4833185|1">9000K Coins 935.55 USD</option>
                                    <option value="10000|1039.5|4833178|1">10000K Coins 1039.5 USD</option>
                                    <option value="11000|1143.45|4833174|1">11000K Coins 1143.45 USD</option>
                                    <option value="12000|1247.4|4833196|1">12000K Coins 1247.4 USD</option>
                                    <option value="13000|1351.35|4833192|1">13000K Coins 1351.35 USD</option>
                                    <option value="14000|1455.3|4833182|1">14000K Coins 1455.3 USD</option>
                                    <option value="15000|1559.25|4833172|1">15000K Coins 1559.25 USD</option>
                                </select>
                            </li>
                            <li>
                                <span>Price</span>
                                <div></div>
                            </li>
                            <li>
                                <input type="button" class="buy-now-btn icon-all" value="BUY NOW">
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- 联系我们 -->
                <div class="contact">
                    <a href="#">
                        <img src="/static/images/livechat.png" alt="">
                    </a>
                    <div class="tel">
                        <div class="tel-list">
                            <span class="tel-list_text">USA</span>
                            + 1-315-889-1198
                        </div>
                        <div class="tel-list">
                            <span class="tel-list_text">UK</span>
                            + 1-315-889-1198
                        </div>
                    </div>
                </div>
                <!-- 语言 -->
                <div class="languages">
                    <img src="/static/images/other-languaes.png" alt="">
                </div>
            </div>
            <!-- 主体右边-->
        </div>
        <!-- 活动 -->
        <div class="activity">
            <div class="activity-header">
                <div class="activity-header_title icon-all">FIFA 19 Function</div>
            </div>
            <div class="activity-body">
                <div class="activity-list">
                    <a class="activity-list-item">
                        <img src="/static/images/packs-simula.png" alt="">
                    </a>
                    <a class="activity-list-item">
                        <img src="/static/images/create-squads.png" alt="">
                    </a>
                    <a class="activity-list-item">
                        <img src="/static/images/player-search.png" alt="">
                    </a>
                    <a class="activity-list-item">
                        <img src="/static/images/price-trend.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- 活动 -->
        <!-- 新闻列表 -->
        <div class="news">
            <div class="news-header">
                <div class="news-header_title icon-all">FUT News</div>
                <a class="news-header_more">
                    More +
                </a>
            </div>
            <div class="news-body">
                <!-- 列表 -->
                <div class="news-list-item">
                    <div class="new-list-item_img"></div>
                    <div class="new-list-item_article">
                        <p class="new-list-item_article__title">
                            <a href=""> FIFA 20 FUT Birthday Steven Bergwijn SBC - Requirements, Awards and Cheap
                                Squad Building
                            </a>
                            <span>04/03/2020 10:50:23 AM</span>
                        </p>
                        <article class="new-list-item_article__desc">
                            New FIFA 20 Ultimate Team squad creation challenges available! As happened last year, we
                            will provide you throughout the season with information on the requirements, prizes, and
                            solutions of each SBC!...
                        </article>
                    </div>
                </div>
                <div class="news-list-item">
                    <div class="new-list-item_img"></div>
                    <div class="new-list-item_article">
                        <p class="new-list-item_article__title">
                            <a href=""> FIFA 20 FUT Birthday Steven Bergwijn SBC - Requirements, Awards and Cheap
                                Squad Building
                            </a>
                            <span>04/03/2020 10:50:23 AM</span>
                        </p>
                        <article class="new-list-item_article__desc">
                            New FIFA 20 Ultimate Team squad creation challenges available! As happened last year, we
                            will provide you throughout the season with information on the requirements, prizes, and
                            solutions of each SBC!...
                        </article>
                    </div>
                </div>
                <div class="news-list-item">
                    <div class="new-list-item_img"></div>
                    <div class="new-list-item_article">
                        <p class="new-list-item_article__title">
                            <a href=""> FIFA 20 FUT Birthday Steven Bergwijn SBC - Requirements, Awards and Cheap
                                Squad Building
                            </a>
                            <span>04/03/2020 10:50:23 AM</span>
                        </p>
                        <article class="new-list-item_article__desc">
                            New FIFA 20 Ultimate Team squad creation challenges available! As happened last year, we
                            will provide you throughout the season with information on the requirements, prizes, and
                            solutions of each SBC!...
                        </article>
                    </div>
                </div>
                <div class="news-list-item">
                    <div class="new-list-item_img"></div>
                    <div class="new-list-item_article">
                        <p class="new-list-item_article__title">
                            <a href=""> FIFA 20 FUT Birthday Steven Bergwijn SBC - Requirements, Awards and Cheap
                                Squad Building
                            </a>
                            <span>04/03/2020 10:50:23 AM</span>
                        </p>
                        <article class="new-list-item_article__desc">
                            New FIFA 20 Ultimate Team squad creation challenges available! As happened last year, we
                            will provide you throughout the season with information on the requirements, prizes, and
                            solutions of each SBC!...
                        </article>
                    </div>
                </div>
                <!-- 列表 -->
            </div>
        </div>
        <!-- 新闻列表 -->
        <!-- 人物 -->
        <div class="people">

        </div>
        <!-- 人物 -->
        <!-- 关于 -->
        <div class="about">
            <div class="about-list">
                <div class="about-list_item">
                    <div class="about-list_item__header">
                        <span class="reputation-icon"></span>
                        <em>Good Reputation</em>
                    </div>
                    <p class="about-list_item__body">
                        FIFAAH has more than 9 years experience of offering safe and
                        cheap FIFA Coins online service,
                        millions clients base of the credibility of witnesses.
                    </p>
                </div>
                <div class="about-list_item">
                    <div class="about-list_item__header">
                        <span class="payment-icon"></span>
                        <em>Good Reputation</em>
                    </div>
                    <p class="about-list_item__body">
                        We support 20+ global payment methods Moneybookers / Paypal / Paysafecard to buy FIFA 19
                        Coins and FUT Coins convenient and security.
                    </p>
                </div>
                <div class="about-list_item">
                    <div class="about-list_item__header">
                        <span class="price-icon"></span>
                        <em>Good Reputation</em>
                    </div>
                    <p class="about-list_item__body">
                        We prepare enough cheap FUT 19 Coins for PC/PS4/XBOX/PS3/IOS with instant delivery. Huge
                        stock of FIFA Coins can always keep the lowest price.
                    </p>
                </div>
                <div class="about-list_item">
                    <div class="about-list_item__header">
                        <span class="fast-icon"></span>
                        <em>Good Reputation</em>
                    </div>
                    <p class="about-list_item__body">
                        Reliable cheap FIFA Coins real stock can ensure 5 minutes delivery. 24/7 Online Live Chat
                        can help you check order easy.
                    </p>
                </div>
            </div>
        </div>
        <!-- 关于 -->
    </div>
</div>
<!-- 中间主体部分 -->
<!-- 当前页面的js文件 -->
<script src="/static/swiper/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: true, //可选选项，自动滑动
        loop: true, // 循环模式选项
        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
{include file="common:footer" /}
</body>

</html>